@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-fam-poppins: "Poppins", sans-serif;
    --font-fam-montserrat: "Montserrat", sans-serif;
}
.font-montserrat {
    font-family: var(--font-fam-montserrat)
}

.font-poppins {
    font-family: var(--font-fam-poppins)
}


body {
    font-family: var(--font-fam-poppins);
    font-size: 12px;
}

/* aside a.brand-link img{
    display: none;
} */

.nav-item .nav-link.active {
    background-color: #6f42c1 !important;
    color: #fff !important;
}

table td {
    padding: 0px 5px;
}
